<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hwx.safelock.safelock">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_ic"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:persistent="true"
        android:name=".Application"
        android:theme="@style/NotitleTheme">
        <!-- Caution! Do not change this app key. It is only for demo usage. -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58ae7704f43e4853d5002308" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="bj" >
        </meta-data>
        <receiver android:name=".activity.broadcast.BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>
        <meta-data
            android:name="com.hwx.safelock.safelock.MyGlideMoudle"
            android:value="GlideModule" />
        <activity
            android:name="io.vov.vitamio.activity.InitActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".activity.MainActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:launchMode="singleTask"
            android:configChanges="orientation|keyboardHidden"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="android_serialport_api.sample.SendingActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:configChanges="orientation|keyboardHidden"
            />
        <activity android:name="android_serialport_api.sample.HwxTestActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:configChanges="orientation|keyboardHidden"
            />
        <activity android:name="android_serialport_api.sample.LoopbackActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name="android_serialport_api.sample.ConsoleActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name="android_serialport_api.sample.SerialPortPreferences"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name=".activity.SaveEnityActivity"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name=".activity.SaveLockRestDetailActivity"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name=".activity.SavePhoneOrderActivity"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name=".activity.SaveSuccessActivity"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name=".activity.GetEnityActivity"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name=".activity.GetSuccessActivity"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateAlwaysHidden"/>

    </application>

</manifest>